#include <stdio.h>

// Функція для підрахунку кількості чисел із р розрядів
int countNumbers(int r) {
    if (r <= 0)
        return 0;

    // Ініціалізуємо змінні
    int count = 0;
    int prev_digit = -1;  // Попередній розглянутий розряд

    // Рекурсивно перебираємо всі можливі комбінації розрядів
    for (int digit = 5; digit <= 9; digit++) {
        // Якщо попередній розряд не є такий самий як поточний існує ще розряд
        if (digit != prev_digit && r > 1) {
            count += countNumbers(r - 1);  // Рекурсивно викликаємо функцію для меншого розряду
        } else if (digit != prev_digit && r == 1) {
            count++;  // Досягнули розряду одиниць, збільшуємо лічильник
        }
    }

    return count;
}

int main() {
    int r;
    printf("Введіть кількість розрядів (р ≤ 30): ");
    scanf("%d", &r);

    int result = countNumbers(r);
    printf("Кількість чисел із %d розрядів: %d\n", r, result);

    return 0;
}
